/*      Base Styles      */
body, html {
		height: 100%;
		margin: 0;
        background-image: url("../images/AwGeez.jpg");
        background-position: center;
        background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
}

#container {
   min-height:100%;
   position:relative;
}

header {
    display: block;
    padding: 5% 0;
}

header img {
    display: block;
    margin: 0 auto;
    /*max-width: 30%;*/
}

header a {
    display: contents;
}

/*      NAVIGATION STYLE    */
nav {
	position: absolute;
    margin-top: -20%;
    margin-left: 1.5%;
    background: rgba(0, 0, 0, .2);
	min-width: 18%;

	font-family: "Comic Sans MS", cursive, sans-serif;
	color: white;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	text-decoration-color: white;
}

nav li .nav-entry {
    text-decoration:none; 
    color:white;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    display: block;
    padding: 8px 16px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li:hover {
     background-color: darkcyan;
}

nav .current {
    text-decoration: underline;
    cursor: default;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 43%;
    left: 100%;
    padding: 0;
    background: rgba(0, 0, 0, .2);
}

nav ul ul li {
    float:none;
    width:800px;
    z-index: 1;
}

nav ul li:hover > ul {
    display:block;
}

/*      MAIN CONTENT STYLE  */
.main_content {
    width: auto;
    margin: 0 auto;
    background: rgba(0, 0, 0, .5);
    text-align: center;
    padding: 32px;
    margin-bottom: 24px;   /* Height of the footer */
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/*   MAIN CONTENT - Home    */
.main_content .main_content_title {
    color: white;
}


.main_content .home_character img{
    width: 148px;
    height: 148px;
    display: inline;
}

.main_content p,pre {
    display: inline;
    color: white;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/*   MAIN CONTENT - Random Clips  */

.main_content .random_videos {
    display: inline;
    margin: 0 auto;
    text-align: center;
}

.main_content iframe {
    width: 480px;
    height: 270px;
    margin-left: 16px;
    border: 0.2em solid white;
}

/*   MAIN CONTENT - News  */

article img {
    max-width: 30%;
    max-height: 25%;
}

main {
    position: relative;
    display: inline-block;
    z-index: 2;
}

main hr {
    width: 60%;
    margin: 5% auto;
}

article iframe {
    border: 0;
}

.news-text {
    width: 60%;
    margin: auto;
}

.news-title {

}

.news-content {
    text-align: left;
    /*text-justify: auto;*/
}

.news-content p {
    margin: 5px 0;
    display: inline-block;
}

.news-content iframe {
    margin: 10px auto;
    display: block;
}

.news-small {
    margin-top: 10px;
    text-align: left;
    float: left;
    display: inline-block;
}

.news-time {
    float: right;
    text-align: right;
    display: inline-block;
}


/* MAIN CONTENT - How it all started  */

.HowItAllStarted-img {
  max-width: 30%;
  max-height: 25%;	
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.HowItAllStarted-text{
    margin-top: 10px;
    text-align: left;
    float: left;
    display: inline-block;
}




/* MAIN CONTENT - SEASON GUIDE*/
.season-text {
	text-align:left;
	display: inline-block;
}
.season-img {
 	max-width: 30%;
 	max-height: 25%;	
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
}


/** COMMENTS PAGE */
.main_content pre {
	font-weight: normal;
}

#comments_view {
	display: inline-block;
}

.comment {
	background-color: rgba(0,0,0,0.3);
	margin: 1em auto;
	padding: 0.4em 0;
}

.comment_header {
	margin-bottom: 0.3em;
	font-style: italic;
}



/** QUIZ PAGE */
.quiz_container {
	/*display: inline-block;*/
}

.quiz_question {
	padding-bottom: 1em;
	border-bottom: solid;
	margin-bottom: 1.3em;
}

.answer_choice p { 
	font-weight: normal;
}

.answers {
	margin-top: 0.5em;
}



/*      FOOTER STYLE    */
footer {
    position: relative;
    /*left: 0;
    bottom: 0;*/
    width: 100%;
    background: rgba(25, 25, 25, 1);
    color: white;
    text-align: center;
    height: 72px;   /* Height of the footer */
}

footer p {
    position: absolute;
    bottom: 0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold;
}

footer *
{
    display: inline;
    padding: 8px;
}

footer img{
    max-width: 48px;
    max-height: 48px;
    float: right;
    margin-right: 48px;
    vertical-align: middle;
}
