/*      Base Style      s*/
body, html {
		height: 100%;
		margin: 0;
        background-image: url("../images/AwGeez.jpg");
        background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
}

/*      NAVIGATION STYLE    */
nav {
		position: relative;
        background: rgba(0, 0, 0, .2);
		min-width: 195px;
        max-width: 250px;
        margin-left:16px;
        margin-top: 16px;
		font-family: "Comic Sans MS", cursive, sans-serif;
		color: white;
		text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
		text-decoration-color: white;
}

nav a {
    text-decoration:none; 
    color:white;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

nav ul {
    list-style-type: none;
    padding: 16px;
}

nav li {
    display: block;
    margin-top: 12px;
}

nav li:hover {
     background-color: darkcyan;
}

nav .current {
    text-decoration: underline;
}

/*      MAIN CONTENT STYLE  */
.main_content {
    
}

/*      FOOTER STYLE    */
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(54, 25, 25, .5);
    color:aqua;
    text-align: center;
  
}

footer p {
    position: absolute;
    bottom: 0;
}
footer *
{
    display: inline;
    padding: 8px;
}

footer img{
    max-width: 48px;
    max-height: 48px;
    float: right;
    margin-right: 48px;
}